<header class="intro-header" style="background-image: url('../assets/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>&Uuml;ber diesen Blog</h1>
                    <hr class="small">
                    <span class="subheading">Momentane Funktionen und Eigenschaften</span>
                </div>
            </div>
        </div>
    </div>
</header>

<ul> 
  <li>Authentifikation der Benutzer(Login/Logout und Registrierung</li>
  <li>Blogbeiträge können erstellt, bearbeitet und gelöscht werden</li>
  <li>URL der Blogeinträge für Suchmachinen optimiert (SEO)</li>
  <li>Begrenzung der angezeigten Blogbeiträge auf 2 pro Seite.</li> 
  <li>Front- und Backendvalidation der Beiträge beim verfassen. Titel und Inhalt müssen aufgefüllt sein (Frontend), Titel muss mindestens 6 Zeichen lang sein und darf noch nicht existieren (Backend). 

