<header class="intro-header" style="background-image: url('../assets/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>&Uuml;ber diesen Blog</h1>
                    <hr class ="small">
                    <span class="subheading">Funktionen und Eigenschaften</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
<ul> 
  <li>Authentifikation der Benutzer (Login/Logout und Registrierung)</li>
  <li>Blogbeiträge können vom Admin erstellt, bearbeitet und gelöscht werden</li>
  <li>URL der Blogeinträge für Suchmachinen optimiert (SEO)</li>
  <li>Begrenzung der angezeigten Blogbeiträge auf 5 pro Seite</li> 
  <li>Validation der Beiträge beim Verfassen. Titel und Inhalt müssen aufgefüllt sein, Titel muss mindestens 6 Zeichen lang sein und darf noch nicht existieren</li>
</ul>
</div>
